
:root{
    /* Primary palette */
    --primary-blue:#203864;
    --primary-red:#852a2a;
    --primary-purple: #7030a0;
    --primary-orange:#7f6000;

    /*Secondary palette  */
    --secondary-blue:#2b4154;
    --secondary-red:#e64840;
    --secondary-purple: #8e73e2;
    --secondary-orange:#d25307;
}

html, body{
    /*--------- image on full page--------------------------------- */
    background-image: url(); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;

    overflow-x: hidden;
}



/*--------------- Navigation bar-------------- */


#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color:#1f1b1bea;
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    top: 0;

}

.logo{
    margin: 0;
    width: 90px;
    height: 60px;
}

.nav-list li{
    margin: 0;
    padding: 0 15px;
}

.nav-list{
    margin: 0;
    padding: 0;
}

li, a{
    display: inline-block;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    color: var(--grey);
}

li, a:hover{
    display: inline-block;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    color: yellow;
    cursor: pointer;
}

.logo{
    width: 250px;
    height: 70px;
}