<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Cadastro de Equipe</title>
</head>
<body>
    <header id="header">
        <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/WackyRaces2017.png" alt="logo" class="logo"></a>
        <nav id="navbar">
            <ul class="nav-list">
                <li class="competidores"><a href="competidores">competidores</a></li>
                <li class="campeonato"><a href="campeonato">campeonato</a></li>
                <li class="vitorias"><a href="vitorias">vitórias</a></li>
                <li class="circuitos"><a href="circuitos">circuitos</a></li>
                <li class="cadastro"><a href="cadastro">cadastro</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>