<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/campeonato.css">
    <title>Campeonato</title>
</head>
<body>
    
    <header id="header">
        <a href="/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/WackyRaces2017.png" alt="logo" class="logo"></a>
        <nav id="navbar">
            <ul class="nav-list">
                <li class="competidores"><a href="competidores">competidores</a></li>
                <li class="campeonato"><a href="campeonato">campeonato</a></li>
                <li class="vitorias"><a href="vitorias">vitórias</a></li>
                <li class="circuitos"><a href="circuitos">circuitos</a></li>
            </ul>
        </nav>
    </header>


    <div class="container">

        <div class="content-left">
            <div class="label">
                <p>Campeonato</p>
            </div>
        </div>
    
        <div class="content-right">
    
               <ol class="p">
                    <li>1º  - Carro de Pedra/Irmãos Rocha - 81 pontos</li><hr>
                    <li>2º  - Carro-a-prova-de-balas/Quadrilha de Morte - 74 pontos</li><hr>
                    <li>3º  - Cupê Mal-Assombrado/Irmãos Pavor - 69 pontos</li><hr>
                    <li>4º  - Carroça á vapor/Tio Tomás e Chorão - 68 pontos</li><hr>
                    <li>5º  - Carro Tronco/Rufus Lenhador e Dentes-de-serra - 67 pontos</li><hr>
                    <li>6º  - Carro de Mil e Uma Utilidades/Professor Aéreo - 65 pontos</li><hr>
                    <li>7º  - Carrinho pra Frente/Penélope Charmosa - 64 pontos</li><hr>
                    <li>8º  - Lata Voadora/Barão Vermelho - 63 pontos</li><hr>
                    <li>9º  - Carrão Aerodinâmico/Peter Perfeito - 60 pontos</li><hr>
                    <li>10º - Carro-tanque/Sargento Bombarda e Soldado Meekley - 39 pontos</li><hr>
                    <li>11º - Máquina do Mal/Dick Vigarista e Muttley - 00 pontos</li>
               </ol>
        </div>
    </div>

</body>
</html>