<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/circuitos.css">
    <title>Circuitos</title>
</head>
<body>
    
    <header id="header">
        <a href="/index"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/WackyRaces2017.png" alt="logo" class="logo"></a>
        <nav id="navbar">
            <ul class="nav-list">
                <li class="competidores"><a href="competidores">competidores</a></li>
                <li class="campeonato"><a href="campeonato">campeonato</a></li>
                <li class="vitorias"><a href="vitorias">vitórias</a></li>
                <li class="circuitos"><a href="circuitos">circuitos</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">

        <div class="content-left">
            <div class="label">
                <p>Circuitos</p>
            </div>
        </div>
    
        <div class="content-right">
    
            <div class="card">
                <h3>circuito maluco</h3>
                <div>
                    <img src="/static/img/Pista01.png" alt="">
                </div>
            </div>

            <div class="card">
                <h3>circuito Principal</h3>
                <div>
                    <img src="/static/img/Pista02.png" alt="">
                </div>
            </div>

            <div class="card">
                <h3>circuito Doidão</h3>
                <div>
                    <img src="/static/img/Pista03.png" alt="">
                </div>
            </div>

        </div>
    </div>

</body>
</html>