<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/competidores.css">
    <title>AC04 TecWeb</title>
</head>
<body>
    
    <header id="header">
        <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/WackyRaces2017.png" alt="logo" class="logo"></a>
        <nav id="navbar">
            <ul class="nav-list">
                <li class="competidores"><a href="competidores">competidores</a></li>
                <li class="campeonato"><a href="campeonato">campeonato</a></li>
                <li class="vitorias"><a href="vitorias">vitórias</a></li>
                <li class="circuitos"><a href="circuitos">circuitos</a></li>
            </ul>
        </nav>
    </header>


    <div class="container">

        <div class="content-left">
            <div class="label">
                <p>competidores</p>
            </div>
        </div>
    
        <div class="content-right">
    
            <div class="card">
                <img src="/static/img/Número-00-Máquina-do-Mal-.png" alt="">
                
                <div class="p">
                    <h4>Número 00: Máquina do Mal - Dicky Vigarista e seu cão Muttley</h4>
                    <p>Dispensa muitas explicações. Tanto Dick Vigarista, quanto o seu copiloto, o cachorro Muttley, são os vilões da série. O carro é cheio de armas ocultas e eles estão sempre tentando prejudicar seus rivais, com um único objetivo: garantir a vitória. Mas nem assim a Máquina do Mal conseguiu vencer uma corrida. Até chegou a cruzar a linha de chegada em primeiro, mas foi desclassificado depois de verificarem as mutretas analisadas em câmera lenta.</p>
                </div>
            </div>

            <div class="card">
                <img src="/static/img/Número-1-Carro-de-Pedra.png" alt="">
                
                <div class="p">
                    <h4>Número 1: Carro de Pedra - Irmãos Rocha</h4>
                    <p>Indestrutível, este carro é uma pedra gigante com rodas pilotado pelos Irmãos Rocha, que são primos/irmãos do super-herói Capitão Caverna. Muitas vezes eles tinham de reconstruir seu carro do zero usando seus próprios bastões, os mesmos utilizados para aumentar a potência do motor. São donos de oito segundos lugares e três vitórias.</p>
                </div>
            </div>

            <div class="card">
                <img src="/static/img/Número-2-Coupé-Mal-Assombrado.png" alt="">
                
                <div class="p">
                    <h4>Número 2: Coupé Mal-Assombrado - Irmãos Pavor</h4>
                    <p>Dispensa muitas explicações. Tanto Dick Vigarista, quanto o seu copiloto, o cachorro Muttley, são os vilões da série. O carro é cheio de armas ocultas e eles estão sempre tentando prejudicar seus rivais, com um único objetivo: garantir a vitória. Mas nem assim a Máquina do Mal conseguiu vencer uma corrida. Até chegou a cruzar a linha de chegada em primeiro, mas foi desclassificado depois de verificarem as mutretas analisadas em câmera lenta.</p>
                </div>
            </div>

            <div class="card">
                <img src="/static/img/Número-3-Carro-Cheio-de-Truques.png" alt="">
                
                <div class="p">
                    <h4>Número 3: Carro Cheio de Truques - Professor Aéreo</h4>
                    <p>Pilotado pelo Professor Aéreo, este carro a princípio tem um formato de barco com rodas, está cheio de engenhocas dignas de um professor bugiganga e pode se transformar em qualquer coisa. O Professor costuma usar suas invenções para ajudar os demais competidores a passar por vários obstáculos e impedimentos, tanto de causas naturais quanto os provocados por outros pilotos. Também usa suas criações para atacar seus rivais, que fique bem claro!</p>
                </div>
            </div>

            <div class="card">
                <img src="/static/img/Número-4-Lata-Voadora.png" alt="">
                
                <div class="p">
                    <h4>Número 4: Lata Voadora - Barão Vermelho</h4>
                    <p>Aqui, quem conduz o volante é o Barão Vermelho, mas não é nem Cazuza e nem o Frejat. E ele pilota sozinho esse modelo híbrido de carro e avião, capaz de voar limitadamente, normalmente o suficiente para passar por cima dos pilotos e obstáculos que aparecem em seu caminho. O Lata Voadora também tem montada uma metralhadora, usada esporadicamente. O Barão Vermelho é o vencedor da primeira corrida da história da Corrida Maluca e conseguiu mais duas vitórias.</p>
                </div>
            </div>

            <div class="card">
                <img src="/static/img/Número-5-Carrinho-Pra-Frente-.png" alt="">
                
                <div class="p">
                    <h4>Número 5: Carrinho Pra Frente - Penélope Charmosa</h4>
                    <p>A piloto do carro todo cor-de-rosa e cheio de maquiagem é a grande influência das patricinhas: a Penélope Charmosa. E estes utensílios de beleza funcionam também como armas indiretas contra os outros pilotos. Por exemplo, a espuma de shampoo que pode ser jogada sobre os rostos dos competidores. Penélope tem um namorico secreto com Peter Perfeito e, sempre que está em apuros, pede sua ajuda. A loirinha já venceu quatro vezes.</p>
                </div>
            </div>

            <div class="card">
                <img src="/static/img/Número-6-Carro-Tanque-.png" alt="">
                
                <div class="p">
                    <h4>Número 6: Carro Tanque - Sargento Bombarda e Soldado Meekley</h4>
                    <p>Sargento Bombarda e seu copiloto, Soldado Meekley são a dupla que comandava o carro metade tanque, metade jipe. O Carro Tanque usa seus acessórios de guerra durante a corrida, como por exemplo o canhão. Apesar de ser um veículo robusto e potente, só venceu três vezes.</p>
                </div>
            </div>

            <div class="card">
                <img src="/static/img/Número-7-Carro-À-Prova-de-Balas-.png" alt="">
                
                <div class="p">
                    <h4>Número 7: Carro À Prova de Balas - Quadrilha de Morte</h4>
                    <p>Este sedã dos anos 1920 era pilotado por uma máfia chamada Quadrilha de Morte, formada por sete gangsteres insensatos e meio burros. A quadrilha é confundida pela polícia com delinquentes, pois estão sempre envolvidos em situações bizarras como se passarem pelos anões da Branca de Neve, equilibristas de circo, etc. Quando necessitam de mais velocidade ou ultrapassar alguém, usam suas próprias pernas para impulsionar o carro. Essa turma já venceu quatro vezes.</p>
                </div>
            </div>

            <div class="card">
                <img src="/static/img/Número-8-Carroça-a-Vapor-.png" alt="">
                
                <div class="p">
                    <h4>Número 8: Carroça a Vapor - Tio Tomás e Urso Chorão</h4>
                    <p>Tio Tomás e seu copiloto covarde e dorminhoco, o Urso Chorão, são os responsáveis pelo nº 8, feito de madeira movido a carvão. A estufa de carvão é o ponto fraco do Carroça, o que representa uma vantagem aos seus rivais. Tio Tomás tenta várias técnicas rudimentares para melhorar seu desempenho na corrida. Urso tem medo de tudo que acontece na corrida, muitas vezes atrapalhando o bom Tio Tomás. Mesmo assim, a dupla já faturou quatro vitórias.</p>
                </div>
            </div>

            <div class="card">
                <img src="/static/img/Número-9-Carrão-Aerodinâmico-.png" alt="">
                
                <div class="p">
                    <h4>Número 9: Carrão Aerodinâmico - Peter Perfeito</h4>
                    <p>Lembra do namorado da Penélope Charmosa? Então, ele é o Peter Perfeito, piloto do carro 9, um dragster com grandes rodas traseiras e que costuma se despedaçar por ser muito frágil. Assim como os outros que já citamos, venceu quatro vezes.</p>
                </div>
            </div>

            <div class="card">
                <img src="/static/img/Número 10- Carro-Tronco .jpeg" alt="">
                
                <div class="p">
                    <h4>Número 10: Carro-Tronco - Rufus Lenhador e o castor Dentes de Serra</h4>
                    <p>Rufus Lenhador e seu parceiro, o castor Dentes de Serra, são os pilotos do carro nº 10, uma carreta de madeira com serras circulares no lugar das rodas. Esse atributo permite cortar ao meio seus rivais na hora da ultrapassagem. Também usam artefatos cortantes para tirar os obstáculos da corrida. A dupla venceu três vezes.</p>
                </div>
            </div>

        </div>
    </div>

</body>
</html>