<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>AC04 TecWeb</title>
</head>
<body>
    
    <header id="header">
        <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/WackyRaces2017.png" alt="logo" class="logo"></a>
        <nav id="navbar">
            <ul class="nav-list">
                <li><a href="#">Page1</a></li>
                <li><a href="#">Page2</a></li>
                <li><a href="#">Page3</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>