<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/vitorias.css">
    <title>AC04 TecWeb</title>
</head>
<body>
    
    <header id="header">
        <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/WackyRaces2017.png" alt="logo" class="logo"></a>
        <nav id="navbar">
            <ul class="nav-list">
                <li class="competidores"><a href="#">competidores</a></li>
                <li class="campeonato"><a href="#">campeonato</a></li>
                <li class="vitorias"><a href="#">vitórias</a></li>
                <li class="circuitos"><a href="#">circuitos</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">

        <div class="content-left">
            <div class="label">
                <p>Campeonato</p>
            </div>
        </div>
    
        <div class="content-right">
    
               <ul class="p">
                    <li>•   Dick Vigarista: Nenhuma. Dick chegou a vencer a corrida da Cidade Fantasma, mas foi desclassificado pelos juízes por ter trapaceado na chegada; e a corrida de Washington ganha na reta final e de cuja vitória abriu mão só para "dar um autógrafo" para Muttley.</li><hr>
                    <li>•   Irmãos Rocha: 3 (Idaho 2, Baja-Ha-Ha e A toda Velocidade).</li><hr>
                    <li>•   Coupé Assombrado: 3 (Wyoming, Road Island e Racine Carlsbad).</li><hr>
                    <li>•   Professor Aéreo: 3 (Missouri, Texas e Uni-duni-tê).</li><hr>
                    <li>•   Barão Vermelho: 3 (Arkansas, Altos e Baixos e Pólo Norte).</li><hr>
                    <li>•   Penélope Charmosa: 4 (Cidade Fantasma, Alabama, Pensilvânia, Chillicothe).</li><hr>
                    <li>•   Carro Tanque: 3 (Gorila, Chillicothe e Idaho).</li><hr>
                    <li>•   Quadrilha de Morte: 4 (Virgínia, Dakota, Raleigh e Hackensack).</li><hr>
                    <li>•   Carroça a Vapor: 5 (Yellow Rock, Pântano, Carlsbad, Dellaware e Hollywood).</li><hr>
                    <li>•   Carrão Aerodinâmico: 4 (Mississipi, Washington, Deserto e Flórida).</li><hr>
                    <li>•   Carro Tronco: 3 (Bem no Coração, Estrada Não Era Essa e Vale Tudo).</li>
               </ul>
        </div>
    </div>

</body>
</html>